<div class="admin-wizard-controls">
  <h3>{{i18n "admin.wizard.notices.title"}}</h3>

  <div class="buttons">
    {{d-button
      label="admin.wizard.notice.dismiss_all.label"
      title="admin.wizard.notice.dismiss_all.title"
      action=(action "dismissAll")
      disabled=allDismisssed
      icon="check"}}
  </div>
</div>

{{wizard-message
  key=messageKey
  url=messageUrl
  type=messageType
  opts=messageOpts
  items=messageItems
  loading=loading
  component="notices"}}

<div class="wizard-table">
  {{#load-more selector=".wizard-table tr" action=(action "loadMore")}}
    {{#if hasNotices}}
      <table>
        <thead>
          <tr>
            <th>{{I18n "admin.wizard.notice.time"}}</th>
            <th>{{I18n "admin.wizard.notice.type.label"}}</th>
            <th>{{I18n "admin.wizard.notice.title"}}</th>
            <th>{{I18n "admin.wizard.notice.status"}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each notices as |notice|}}
            {{wizard-notice-row notice=notice}}
          {{/each}}
        </tbody>
      </table>
    {{else}}
      {{#unless loadingMore}}
        <p>{{i18n "search.no_results"}}</p>
      {{/unless}}
    {{/if}}

    {{conditional-loading-spinner condition=loadingMore}}
  {{/load-more}}
</div>
