<h3>Select Wizards to export</h3>
{{log this}}

<form {{action 'export' wizards on="submit"}} class="form">
  <ul>
    {{#each model as |w|}}

      <li style="list-style-type: none;">
        {{input type="checkbox" id=(dasherize w.id) change=(action 'checkChanged')}}

        {{#link-to "adminWizard" (dasherize w.id)}}{{w.name}}{{/link-to}}
      </li>
    {{/each}}

  </ul>
  {{!--  <button type='submit' class='btn btn-primary'>--}}
  {{!--    {{ i18n 'admin.wizard.transfer.export' }}--}}
  {{!--  </button>--}}
  {{d-button label="admin.wizard.transfer.export" action=(action "export")}}


</form>

{{input id='file_url' type="file" change=(action "setFilePath")}}
<br />
<br />
{{d-button label="admin.wizard.transfer.import" action=(action "import")}}

{{!--{{resumable-upload--}}
{{!--  target="transfer/import"--}}
{{!--  success=(action "jsonSuccess")--}}
{{!--  error=(action "jsonError")--}}
{{!--  uploadText="Import"--}}

