<div class="form-horizontal">

  <div>
    <label for="name">{{i18n 'admin.wizard.name'}}</label>
    {{text-field name="name" value=model.name placeholderKey="admin.wizard.name_placeholder"}}
  </div>

  {{#if model.steps}}
    {{#each model.steps as |s|}}
      {{wizard-custom-step step=s}}
      {{d-button action='removeStep' actionParam=s label='admin.wizard.step.remove'}}
    {{/each}}
  {{/if}}

  {{d-button action='addStep' label='admin.wizard.step.add'}}

  <div class='buttons'>
    <button {{action "save"}} disabled={{disableSave}} class='btn btn-primary'>{{i18n 'admin.wizard.save'}}</button>
    {{#unless new}}
      <button {{action "remove"}} class='btn btn-danger'>{{d-icon "trash-o"}}{{i18n 'admin.wizard.remove'}}</button>
    {{/unless}}
    <span class="saving {{unless savingStatus 'hidden'}}">{{savingStatus}}</span>
  </div>

</div>
