{{#if submissions}}
  <div class="wizard-header large">
    <label>{{i18n "admin.wizard.submissions.title" name=wizard.name}}</label>

    <a class="btn btn-default download-link" href={{downloadUrl}} target="_blank" rel="noopener noreferrer">
      {{d-icon "download"}}
      <span class="d-button-label">
        {{i18n "admin.wizard.submissions.download"}}
      </span>
    </a>
  </div>

  <div class="wizard-submissions">
    {{#load-more selector=".wizard-submissions tr" action=(action "loadMore")}}
      {{#if noResults}}
        <p>{{i18n "search.no_results"}}</p>
      {{else}}
        <table>
          <thead>
            <tr>
              {{#each fields as |f|}}
                <th>{{f}}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody>
            {{#each submissions as |s|}}
              <tr>
                {{#each-in s as |k v|}}
                  <td>{{v}}</td>
                {{/each-in}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}

      {{conditional-loading-spinner condition=loadingMore}}
    {{/load-more}}
  </div>
{{/if}}
