<div class="container export">
<h2>{{i18n 'admin.wizard.transfer.export.label'}}</h2>
<ul class="wizard-list-select">
  {{#each model as |w|}}
    <li>
      {{input type="checkbox" id=(dasherize w.id) change=(action 'checkChanged')}}
      {{#link-to "adminWizard" (dasherize w.id)}}{{w.name}}{{/link-to}}
    </li>
  {{/each}}
</ul>
  {{d-button id="export-button" class="btn btn-primary side" label="admin.wizard.transfer.export.label" action=(action "export")}}
  {{#if this.noneSelected}}
    <p>{{this.noneSelected}}</p>
  {{/if}}
</div>

<div class="container import">
<h2>{{i18n 'admin.wizard.transfer.import.label'}}</h2>
{{input id='file_url'  type="file" change=(action "setFilePath")}}
{{d-button id="import-button" class="btn btn-primary side" label="admin.wizard.transfer.import.label" action=(action "import")}}
  {{#if this.noFile}}
    <p>{{this.noFile}}</p>
  {{/if}}

  {{#if this.fileSizeError}}
    <p>{{this.fileSizeError}}</p>
  {{/if}}

  {{#if this.success_ids}}
    {{#each this.success_ids as |id|}}
      <p>{{i18n "admin.wizard.transfer.import.success" id=id}}</p>
    {{/each}}
  {{/if}}

  {{#if this.failure_ids}}
    {{#each this.failure_ids as |id|}}
      <p>{{i18n "admin.wizard.transfer.import.failure" id=id}}</p>
    {{/each}}
  {{/if}}
</div>
{{!-- server side error--}}
{{#if this.error}}
  <p>{{this.error}}</p>
{{/if}}
