<div class="admin-wizard settings">

  <div class="wizard-header">
    {{i18n 'admin.wizard.header'}}
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n 'admin.wizard.id'}}</h3>
    </div>
    <div class="setting-value">
      {{input name="name" value=model.id placeholderKey="admin.wizard.id_placeholder" disabled=model.existingId}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n 'admin.wizard.name'}}</h3>
    </div>
    <div class="setting-value">
      {{input name="name" value=model.name placeholderKey="admin.wizard.name_placeholder"}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n 'admin.wizard.background'}}</h3>
    </div>
    <div class="setting-value">
      {{input name="background" value=model.background placeholderKey="admin.wizard.background_placeholder"}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n 'admin.wizard.save_submissions'}}</h3>
    </div>
    <div class="setting-value">
      {{input type='checkbox' checked=model.save_submissions}}
      <span>{{i18n 'admin.wizard.save_submissions_label'}}</span>
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n 'admin.wizard.multiple_submissions'}}</h3>
    </div>
    <div class="setting-value">
      {{input type='checkbox' checked=model.multiple_submissions}}
      <span>{{i18n 'admin.wizard.multiple_submissions_label'}}</span>
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n 'admin.wizard.required'}}</h3>
    </div>
    <div class="setting-value">
      {{input type='checkbox' checked=model.required}}
      <span>{{i18n 'admin.wizard.required_label'}}</span>
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n 'admin.wizard.after_signup'}}</h3>
    </div>
    <div class="setting-value">
      {{input type='checkbox' checked=model.after_signup}}
      <span>{{i18n 'admin.wizard.after_signup_label'}}</span>
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n 'admin.wizard.after_time'}}</h3>
    </div>
    <div class="setting-value">
      {{input type='checkbox' checked=model.after_time}}
      <span>{{i18n 'admin.wizard.after_time_label'}}</span>
      {{d-button action='setNextSessionScheduled' translatedLabel=nextSessionScheduledLabel icon='calendar-o'}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n 'admin.wizard.prompt_completion'}}</h3>
    </div>
    <div class="setting-value">
      {{input type='checkbox' checked=model.prompt_completion}}
      <span>{{i18n 'admin.wizard.prompt_completion_label'}}</span>
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n 'admin.wizard.min_trust'}}</h3>
    </div>
    <div class="setting-value">
      <span>{{i18n 'admin.wizard.min_trust_label'}}</span>
      {{input type='number' value=model.min_trust class='input-small'}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n 'admin.wizard.theme_id'}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box content=model.themes valueAttribute='id' value=model.theme_id none='admin.wizard.no_theme'}}
    </div>
  </div>

  <div class="setting full">
    <div class="setting-label">
      <h3>{{i18n 'admin.wizard.url'}}</h3>
    </div>
    <a href="{{wizardUrl}}" target="_blank">{{wizardUrl}}</a>
  </div>

  {{wizard-links type="step" current=currentStep items=model.steps}}
  {{#if currentStep}}
    {{wizard-custom-step step=currentStep wizard=model}}
  {{/if}}

  <div class='buttons'>
    <button {{action "save"}} disabled={{disableSave}} class='btn btn-primary'>{{i18n 'admin.wizard.save'}}</button>
    {{#unless newWizard}}
      <button {{action "remove"}} class='btn btn-danger remove'>{{d-icon "trash-o"}}{{i18n 'admin.wizard.remove'}}</button>
    {{/unless}}
    {{conditional-loading-spinner condition=saving size='small'}}
    {{#if error}}
      <span class="error">{{d-icon "times"}}{{error}}</span>
    {{/if}}
  </div>
</div>
