<h2>Export</h2>

<ul class="wizard-list-select">
  {{#each model as |w|}}

    <li style="list-style-type: none;">
      {{input type="checkbox" id=(dasherize w.id) change=(action 'checkChanged')}}

      {{#link-to "adminWizard" (dasherize w.id)}}{{w.name}}{{/link-to}}
    </li>
  {{/each}}

</ul>

{{d-button id="export-button" class="btn btn-primary side" label="admin.wizard.transfer.export"
           action=(action "export")}}



<h2>Import</h2>
{{input id='file_url'  type="file" change=(action "setFilePath")}}



{{d-button id="import-button" class="btn btn-primary side" label="admin.wizard.transfer.import"
           action=(action "import")}}

{{#if this.noneSelected}}
  <p>{{this.noneSelected}}</p>
{{/if}}

{{#if this.noFile}}
  <p>{{this.noFile}}</p>
{{/if}}
{{#if this.fileError}}
  <p>{{this.fileError}}</p>
{{/if}}

{{#if this.error}}
  <p>{{this.error}}</p>
{{/if}}

{{#if this.success_ids}}
  {{#each this.success_ids as |id|}}
    <p>Wizard: {{id}} saved successfully</p>
  {{/each}}
{{/if}}

{{#if this.failure_ids}}
  {{#each this.failure_ids as |id|}}
    <p>Wizard: {{id}} could not be saved</p>
  {{/each}}
{{/if}}


