<div class="admin-wizard settings">

  <div class="wizard-header">
    {{i18n 'admin.wizard.header'}}
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n 'admin.wizard.name'}}</h3>
    </div>
    <div class="setting-value">
      {{text-field name="name" value=model.name placeholderKey="admin.wizard.name_placeholder"}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n 'admin.wizard.save_submissions'}}</h3>
    </div>
    <div class="setting-value">
      {{input type='checkbox' checked=model.save_submissions}}
      <span for="save">{{i18n 'admin.wizard.save_submissions_label'}}</span>
    </div>
  </div>

  <div class="setting full">
    <div class="setting-label">
      <h3>{{i18n 'admin.wizard.url'}}</h3>
    </div>
    <a href="{{wizardUrl}}" target="_blank">{{wizardUrl}}</a>
  </div>

  <div class="wizard-links">
    <div class="wizard-header">{{i18n 'admin.wizard.step.header'}}</div>
    {{#each stepLinks as |s|}}
      {{d-button action="changeStep" actionParam=s.id translatedLabel=s.title class=s.classes}}
      {{d-button action="removeStep" actionParam=s.id icon='times' class='remove'}}
    {{/each}}
    {{d-button action='addStep' label='admin.wizard.add' icon='plus'}}
  </div>

  {{wizard-custom-step step=currentStep fieldTypes=model.fieldTypes}}

  <div class='buttons'>
    <button {{action "save"}} disabled={{disableSave}} class='btn btn-primary'>{{i18n 'admin.wizard.save'}}</button>
    {{#unless new}}
      <button {{action "remove"}} class='btn btn-danger'>{{d-icon "trash-o"}}{{i18n 'admin.wizard.remove'}}</button>
    {{/unless}}
    <span class="saving {{unless savingStatus 'hidden'}}">{{savingStatus}}</span>
  </div>
</div>
