<CustomWizardComposerEditor
  @field={{field}}
  @composer={{composer}}
  @wizard={{wizard}}
  @fieldClass={{fieldClass}}
  @groupsMentioned={{this.groupsMentioned}}
  @cannotSeeMention={{this.cannotSeeMention}}
  @importQuote={{this.importQuote}}
  @togglePreview={{this.togglePreview}}
  @afterRefresh={{this.afterRefresh}}
/>

<div class="bottom-bar">
  <button
    class="wizard-btn toggle-preview"
    {{action "togglePreview"}}
    type="button"
  >
    <span class="d-button-label">{{i18n togglePreviewLabel}}</span>
  </button>

  {{#if field.char_counter}}
    {{wizard-char-counter field.value field.max_length}}
  {{/if}}
</div>