<div>
    <label>{{i18n 'admin.wizard.field.validations.header'}}</label>
</div>
{{#each-in field.validations as |name props|}}
  <span class="setting-title">
    {{input type="checkbox" checked=props.status }}
    {{i18n (concat 'admin.wizard.field.validations.' name)}}
  </span>
  <div>
    {{radio-button name=(concat name field.id) value="above" selection=props.position}} {{i18n 'admin.wizard.field.validations.above'}}
  </div>
  <div>
    {{radio-button name=(concat name field.id) value="below" selection=props.position}} {{i18n 'admin.wizard.field.validations.below'}}
  </div>
{{/each-in}}
