<h2>{{i18n 'admin.wizard.transfer.export.label'}}</h2>

<ul class="wizard-list-select">
  {{#each wizards as |w|}}
    <li>
      {{input type="checkbox"
              id=(dasherize w.id)
              change=(action 'checkChanged')}}
      {{#link-to "adminWizard" (dasherize w.id)}}
        {{w.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{d-button id="export-button"
           class="btn btn-primary side"
           label="admin.wizard.transfer.export.label"
           action=(action "export")}}

{{#if exportMessage}}
  <div class="export-message">
    {{exportMessage}}
  </div>
{{/if}}