<div class="setting">
  <div class="setting-label">
    <h3>{{i18n "admin.wizard.id"}}</h3>
  </div>
  <div class="setting-value">
    {{input value=action.id placeholderKey='admin.wizard.id_placeholder' disabled=disableId}}
  </div>
</div>

<div class="setting">
  <div class="setting-label">
    <h3>{{i18n "admin.wizard.type"}}</h3>
  </div>
  <div class="setting-value">
    {{combo-box value=action.type content=types none="admin.wizard.field.type"}}
  </div>
</div>

{{#if createTopic}}
  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.create_topic.category"}}</h3>
    </div>
    <div class="setting-value">
      {{category-chooser value=action.category_id isDisabled=action.custom_category_enabled}}
      <div class="setting-gutter">
        {{input type='checkbox' checked=action.custom_category_enabled}}
        <span>{{i18n 'admin.wizard.action.custom_category.label'}}</span>
        {{#if action.custom_category_enabled}}
          <div class="custom-category">
            <div>
              {{input type='checkbox' checked=action.custom_category_wizard_field}}
              <span>{{i18n 'admin.wizard.action.custom_category.wizard_field'}}</span>
              {{#if action.custom_category_wizard_field}}
                {{combo-box value=action.category_id
                            content=availableFields
                            nameProperty="label"
                            none='admin.wizard.select_field'}}
              {{/if}}
            </div>
            <div>
              {{input type='checkbox' checked=action.custom_category_user_field}}
              <span>{{i18n 'admin.wizard.action.custom_category.user_field'}}</span>
              {{#if action.custom_category_user_field}}
                {{input value=action.custom_category_user_field_key}}
              {{/if}}
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.title"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.title
                  content=availableFields
                  nameProperty="label"
                  none='admin.wizard.select_field'
                  isDisabled=action.custom_title_enabled}}
      <div class="setting-gutter">
        {{input type='checkbox' checked=action.custom_title_enabled}}
        <span>{{i18n 'admin.wizard.action.custom_title'}}</span>
        {{#if action.custom_title_enabled}}
          {{input value=action.custom_title}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.post"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.post content=availableFields
                                    nameProperty='label'
                                    none='admin.wizard.select_field'
                                    isDisabled=action.post_builder}}
      <div class="setting-gutter">
        {{input type='checkbox' checked=action.post_builder}}
        <span>{{i18n 'admin.wizard.action.post_builder.checkbox'}}</span>
      </div>
    </div>
  </div>

  {{#if action.post_builder}}
    <div class="setting full">
      <div class="setting-label">
        <h3>{{i18n 'admin.wizard.action.post_builder.label'}}</h3>
      </div>
      <div class="setting-value">
        <label>{{i18n 'admin.wizard.action.post_builder.user_fields'}}{{builderUserFields}}</label>
        <label>{{i18n 'admin.wizard.action.post_builder.wizard_fields'}}{{builderWizardFields}}</label>
        {{d-editor value=action.post_template
                   placeholder='admin.wizard.action.post_builder.placeholder'
                   classNames='post-builder-editor'}}
      </div>
    </div>
  {{/if}}

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.skip_redirect.label"}}</h3>
    </div>
    <div class="setting-value">
      {{input type='checkbox' checked=action.skip_redirect}}
      <span>{{i18n 'admin.wizard.action.skip_redirect.description' type='topic'}}</span>
    </div>
  </div>

  <div class="setting full">
    <label>{{i18n 'admin.wizard.action.add_fields' type='Topic'}}</label>
    {{wizard-custom-inputs inputs=action.add_fields
                           valueContent=availableFields
                           inputKey='admin.wizard.action.topic_attr'
                           noneValue='admin.wizard.select_field'
                           allowCustomField=true}}
  </div>
{{/if}}

{{#if sendMessage}}
  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.title"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.title content=availableFields nameProperty='label' none='admin.wizard.select_field'}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.post"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.post content=availableFields
                                    nameProperty='label'
                                    none='admin.wizard.select_field'
                                    isDisabled=action.post_builder}}
      <div>
        {{input type='checkbox' checked=action.post_builder}}
        <span>{{i18n 'admin.wizard.action.post_builder.checkbox'}}</span>
      </div>
    </div>
  </div>

  {{#if action.post_builder}}
    <div class="setting full">
      <div class="setting-label">
        <h3>{{i18n 'admin.wizard.action.post_builder.label'}}</h3>
      </div>
      <div class="setting-value">
        <label>{{i18n 'admin.wizard.action.post_builder.user_fields'}}{{builderUserFields}}</label>
        <label>{{i18n 'admin.wizard.action.post_builder.wizard_fields'}}{{builderWizardFields}}</label>
        {{d-editor value=action.post_template
                   placeholder='admin.wizard.action.post_builder.placeholder'
                   classNames='post-builder-editor'}}
      </div>
    </div>
  {{/if}}

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.send_message.recipient"}}</h3>
    </div>
    <div class="setting-value">
      {{user-selector single="true"
                      includeMentionableGroups="true"
                      usernames=action.username
                      allowedUsers="true"}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.skip_redirect.label"}}</h3>
    </div>
    <div class="setting-value">
      {{input type='checkbox' checked=action.skip_redirect}}
      <span>{{i18n 'admin.wizard.action.skip_redirect.description' type='message'}}</span>
    </div>
  </div>

  <div class="setting full">
    <label>{{i18n "admin.wizard.action.add_fields" type='Message'}}</label>
    {{wizard-custom-inputs inputs=action.add_fields
                           keyContent=availableFields
                           valuePlaceholder='admin.wizard.action.topic_attr'}}
  </div>
{{/if}}

{{#if updateProfile}}
  <div class="setting full">
    <label>{{i18n "admin.wizard.action.add_fields" type='Profile'}}</label>
    {{wizard-custom-inputs inputs=action.profile_updates
                           valueContent=profileFields
                           keyContent=availableFields
                           noneValue='admin.wizard.action.update_profile.profile_field'
                           allowCustomField=true
                           allowUserField=true}}
  </div>
{{/if}}
