<div class="key">
  {{#if keyContent}}
    {{combo-box value=input.key content=keyContent nameProperty="label" none=noneKey}}
  {{else}}
    {{input type="text" value=input.key placeholder=(i18n inputKey)}}
  {{/if}}
</div>

<div class="connector">
  {{#if connectorContent}}
    {{combo-box value=input.connector
                content=connectorContent
                nameProperty="label"
                none=connectorNone}}
  {{/if}}

  {{#if connectorKey}}
    {{i18n connectorKey}}
  {{/if}}
</div>

<div class="value">
  {{#if valueContent}}
    {{combo-box value=input.value
                content=valueContent
                nameProperty="label"
                none=noneValue
                isDisabled=valueDisabled}}
  {{else}}
    {{input type="text" value=input.value placeholder=(i18n valuePlaceholder)}}
  {{/if}}

  {{#if allowCustomField}}
    <div class="text-divider">
      <span>{{i18n 'admin.wizard.or'}}</span>
    </div>

    {{input type="text"
            value=input.value_custom
            placeholder=(i18n 'admin.wizard.custom_value_placeholder')
            disabled=customDisabled}}
  {{/if}}

  {{#if allowUserField}}
    <div class="text-divider">
      <span>{{i18n 'admin.wizard.or'}}</span>
    </div>

    {{combo-box value=input.user_field
                content=userFields
                none='admin.wizard.user_field_placeholder'}}
  {{/if}}
</div>

{{d-button action=remove actionParam=input icon='times' class='remove'}}
