<div class="notice-header">
  <div class="notice-title notice-badge notice-message">
    <a role="button" {{action "toggleCookedMessage"}} class="show-notice-message">{{notice.title}}</a>
    {{#if showCookedMessage}}
      <span class="cooked-notice-message">{{cookedMessage}}</span>
    {{/if}}
  </div>
  <div class="notice-header-right">
    {{#if notice.expired}}
      {{notice-badge class="notice-expired-at" icon="check" label="admin.wizard.notice.expired_at" date=notice.expired_at}}
    {{/if}}
    {{#if showPlugin}}
      {{notice-badge class="notice-plugin" icon="plug" title="admin.wizard.notice.plugin" label="admin.wizard.notice.plugin" url="/admin/wizards/notices"}}
    {{/if}}
    {{notice-badge class="notice-created-at" icon="far-clock" label="admin.wizard.notice.created_at" date=notice.created_at leaveAgo=true}}
    {{#if notice.updated_at}}
      {{notice-badge class="notice-updated-at" icon="far-clock" label="admin.wizard.notice.updated_at" date=notice.updated_at}}
    {{/if}}

    {{#if notice.canDismiss}}
      <div class="dismiss-notice-container">
        {{#if dismissing}}
          {{loading-spinner size="small"}}
        {{else}}
          <a {{action "dismiss"}} role="button" class="dismiss-notice">{{d-icon "times"}}</a>
        {{/if}}
      </div>
    {{/if}}
    {{#if notice.canHide}}
      <div class="hide-notice-container">
        {{#if hiding}}
          {{loading-spinner size="small"}}
        {{else}}
          <a {{action "hide"}} role="button" class="hide-notice">{{d-icon "far-eye-slash"}}</a>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
