<div class="key input-block">
  {{wizard-custom-input-selector
    selectorType='key'
    inputType=inputType
    wizardFields=wizardFields
    value=pair.key
    activeType=pair.key_type
    customPlaceholder=keyPlaceholder
    options=options}}
</div>

{{#if hasConnector}}
  <div class="connector">
    {{#if options.enableConnectors}}
      {{combo-box
        value=pair.connector
        content=connectors
        onChange=(action (mut pair.connector))}}
    {{/if}}
    
    {{#if connectorKey}}
      <span class="key-connector">
        {{i18n connectorKey}}
      </span>
    {{/if}}
  </div>
{{/if}}

<div class="value input-block">
  {{wizard-custom-input-selector
    selectorType='value'
    inputType=inputType
    wizardFields=wizardFields
    value=pair.value
    activeType=pair.value_type
    customPlaceholder=valuePlaceholder
    options=options}}
</div>

{{#if showJoin}}
  <span class="join-pair">&</span>
{{/if}}

{{#if showRemove}}
  <a {{action removePair pair}} class="remove-pair">{{d-icon 'minus'}}</a>
{{/if}}