<div class="setting">
  <div class="setting-label">
    <h3>{{i18n "admin.wizard.action.id"}}</h3>
  </div>
  <div class="setting-value">
    {{input value=action.id placeholderKey='admin.wizard.id_placeholder' disabled=existingId}}
  </div>
</div>

<div class="setting">
  <div class="setting-label">
    <h3>{{i18n "admin.wizard.type"}}</h3>
  </div>
  <div class="setting-value">
    {{combo-box value=action.type content=types}}
  </div>
</div>


{{#if createTopic}}
  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.create_topic.category"}}</h3>
    </div>
    <div class="setting-value">
      {{category-select-box value=action.category_id}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.create_topic.title"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.title content=stepFields nameProperty="label"}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.create_topic.post"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.post content=stepFields nameProperty="label"}}
    </div>
  </div>
{{/if}}

{{#if sendMessage}}
  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.send_message.title"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.title content=stepFields nameProperty="label"}}
    </div>
  </div>
  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.send_message.post"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.post content=stepFields nameProperty="label"}}
    </div>
  </div>
  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.send_message.recipient"}}</h3>
    </div>
    <div class="setting-value">
      {{user-selector single="true"
                      includeMentionableGroups="true"
                      usernames=action.username
                      allowedUsers="true"}}
    </div>
  </div>
{{/if}}

{{#if updateProfile}}
  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.source"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.source content=stepFields nameProperty="label"}}
    </div>
  </div>
  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.profile_field"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.profile_field content=profileFields}}
    </div>
  </div>
{{/if}}
