<td class="small">
  {{#if notice.updated_at}}
    {{notice-badge class="notice-updated-at" date=notice.updated_at label="admin.wizard.notice.updated_at" leaveAgo=true}}
  {{else}}
    {{notice-badge class="notice-created-at" date=notice.created_at label="admin.wizard.notice.created_at" leaveAgo=true}}
  {{/if}}
</td>
<td>{{notice.typeLabel}}</td>
<td class="notice-message">
  <a role="button" {{action "toggleCookedMessage"}} class="show-notice-message">{{notice.title}}</a>
  {{#if showCookedMessage}}
    <span class="cooked-notice-message">{{cookedMessage}}</span>
  {{/if}}
</td>
<td>
  {{#if notice.canDismiss}}
    {{d-button
      action="dismiss"
      label="admin.wizard.notice.dismiss.label"
      title="admin.wizard.notice.dismiss.title"
      class="btn-dismiss"
      icon="check"}}
  {{else if notice.dismissed}}
    <span>{{i18n "admin.wizard.notice.dismissed_at"}}&nbsp;{{format-date notice.dismissed_at leaveAgo="true"}}</span>
  {{else if notice.expired}}
    <span>{{i18n "admin.wizard.notice.expired_at"}}&nbsp;{{format-date notice.expired_at leaveAgo="true"}}</span>
  {{else}}
    <span>{{i18n "admin.wizard.notice.active"}}</span>
  {{/if}}
</td>
