<div class="setting">
  <div class="setting-label">
    <h3>{{i18n "admin.wizard.id"}}</h3>
  </div>
  <div class="setting-value">
    {{input value=action.id placeholderKey='admin.wizard.id_placeholder' disabled=disableId}}
  </div>
</div>

<div class="setting">
  <div class="setting-label">
    <h3>{{i18n "admin.wizard.type"}}</h3>
  </div>
  <div class="setting-value">
    {{combo-box value=action.type content=types}}
  </div>
</div>

{{#if createTopic}}
  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.create_topic.category"}}</h3>
    </div>
    <div class="setting-value">
      {{category-chooser value=action.category_id}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.title"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.title content=availableFields nameProperty="label" none='admin.wizard.select_field'}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.post"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.post content=availableFields nameProperty="label" none='admin.wizard.select_field'}}
    </div>
  </div>

  <div class="setting full">
    <label>{{i18n "admin.wizard.action.add_fields" type='Topic'}}</label>
    {{wizard-custom-input inputs=action.add_fields
                          valueContent=availableFields
                          inputKey='admin.wizard.action.topic_attr'
                          noneValue='admin.wizard.select_field'}}
  </div>
{{/if}}

{{#if sendMessage}}
  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.title"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.title content=availableFields nameProperty='label' none='admin.wizard.select_field'}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.post"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.post content=availableFields nameProperty='label' none='admin.wizard.select_field'}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.send_message.recipient"}}</h3>
    </div>
    <div class="setting-value">
      {{user-selector single="true"
                      includeMentionableGroups="true"
                      usernames=action.username
                      allowedUsers="true"}}
    </div>
  </div>

  <div class="setting full">
    <label>{{i18n "admin.wizard.action.add_fields" type='Message'}}</label>
    {{wizard-custom-input inputs=action.add_fields
                          keyContent=availableFields
                          inputValue='admin.wizard.action.topic_attr'}}
  </div>
{{/if}}

{{#if updateProfile}}
  <div class="setting full">
    <label>{{i18n "admin.wizard.action.add_fields" type='Profile'}}</label>
    {{wizard-custom-input inputs=action.profile_updates
                          valueContent=profileFields
                          keyContent=availableFields
                          noneValue='admin.wizard.action.update_profile.profile_field'}}
  </div>
{{/if}}
