{{#if options.hasOutput}}  
  <div class="connector prefix">
    {{combo-box
      value=input.type
      content=inputTypes
      onChange=(action (mut input.type))}}
  </div>
{{/if}}

{{#if hasPairs}}
  <div class="input-pairs">
    {{#each input.pairs as |pair|}}
      {{wizard-custom-input-pair
        pair=pair
        last=pair.last
        inputType=inputType
        keyPlaceholder=keyPlaceholder
        valuePlaceholder=valuePlaceholder
        wizardFields=wizardFields
        options=options
        removePair=(action 'removePair')}}
    {{/each}}
    {{#if options.hasOutput}}
      <a {{action 'addPair'}} class="add-pair">
        {{d-icon 'plus'}}
      </a>
    {{/if}}
  </div>
{{/if}}

{{#if options.hasOutput}}
  {{#if hasOutputConnector}}
    <div class="connector">
      <span class="output-connector">
        {{outputConnector}}
      </span>
    </div>
  {{/if}}

  <div class="output input-block">
    {{wizard-custom-input-selector
      selectorType='output'
      inputType=inputType
      wizardFields=wizardFields
      value=input.output
      activeType=input.output_type
      customPlaceholder=outputPlaceholder
      options=options}}
  </div>
{{/if}}

<a class="remove-input" {{action remove input}}>
  {{d-icon 'times'}}
</a>
