<div class="setting">
  <div class="setting-label">
    <h3>{{i18n "admin.wizard.id"}}</h3>
  </div>
  <div class="setting-value">
    {{input value=action.id placeholderKey='admin.wizard.id_placeholder' disabled=disableId}}
  </div>
</div>

<div class="setting">
  <div class="setting-label">
    <h3>{{i18n "admin.wizard.type"}}</h3>
  </div>
  <div class="setting-value">
    {{combo-box value=action.type content=types}}
  </div>
</div>

{{#if createTopic}}
  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.create_topic.category"}}</h3>
    </div>
    <div class="setting-value">
      {{category-select-box value=action.category_id}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.title"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.title content=wizardFields nameProperty="label" none='admin.wizard.action.none'}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.post"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.post content=wizardFields nameProperty="label" none='admin.wizard.action.none'}}
    </div>
  </div>

  <div class="setting full">
    <label>{{i18n "admin.wizard.action.create_topic.add_fields"}}</label>
    {{wizard-custom-input inputs=action.add_fields valueContent=wizardFields noneValue='admin.wizard.action.none'}}
  </div>
{{/if}}

{{#if sendMessage}}
  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.title"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.title content=wizardFields nameProperty='label' none='admin.wizard.action.none'}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.post"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.post content=wizardFields nameProperty='label' none='admin.wizard.action.none'}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.send_message.recipient"}}</h3>
    </div>
    <div class="setting-value">
      {{user-selector single="true"
                      includeMentionableGroups="true"
                      usernames=action.username
                      allowedUsers="true"}}
    </div>
  </div>
{{/if}}

{{#if updateProfile}}
  <div class="setting full">
    {{wizard-custom-input inputs=action.profile_updates
                          valueContent=profileFields
                          keyContent=wizardFields
                          noneKey='admin.wizard.action.none'
                          noneValue='admin.wizard.action.none'}}
  </div>
{{/if}}
