<div class="supplier-authorize">
  {{#if authorized}}
    {{conditional-loading-spinner size="small" condition=unauthorizing}}
    <a {{action "deauthorize"}} class="deauthorize" title={{i18n "admin.subscription_client.supplier.deauthorize"}} role="button" disabled={{unauthorizing}}>
      {{i18n "admin.wizard.subscription.deauthorize"}}
    </a>
  {{else}}
    {{d-button
      icon="id-card"
      class="btn-primary"
      label="admin.wizard.subscription.authorize"
      title="admin.wizard.subscription.authorize"
      action=(action "authorize")}}
  {{/if}}
  {{wizard-subscription-badge}}
</div>