{{#each inputs as |in|}}
  <div class='custom-input'>
    {{#if keyContent}}
      {{combo-box value=in.key content=keyContent nameProperty="label" none=noneKey}}
    {{else}}
      {{input type="text" value=in.key placeholder=(i18n inputKey)}}
    {{/if}}
    {{#if valueContent}}
      {{combo-box value=in.value content=valueContent nameProperty="label" none=noneValue}}
    {{else}}
      {{input type="text" value=in.value placeholder=(i18n inputValue)}}
    {{/if}}
    {{d-button action='remove' actionParam=in icon='times'}}
  </div>
{{/each}}
<div class="add-custom-input">
  {{d-button action='add' label='admin.wizard.add' icon='plus'}}
</div>
