<div class="setting">
  <div class="setting-label">
    <h3>{{i18n 'admin.wizard.id'}}</h3>
  </div>
  <div class="setting-value">
    {{input name="id" value=step.id placeholderKey="admin.wizard.id_placeholder" disabled=disableId}}
  </div>
</div>

<div class="setting">
  <div class="setting-label">
    <h3>{{i18n 'admin.wizard.key'}}</h3>
  </div>
  <div class="setting-value">
    {{input name="key" value=step.key placeholderKey="admin.wizard.key_placeholder"}}
  </div>
</div>

<div class="setting">
  <div class="setting-label">
    <h3>{{i18n 'admin.wizard.step.title'}}</h3>
  </div>
  <div class="setting-value">
    {{input name="title" value=step.title placeholderKey="admin.wizard.custom_text_placeholder"}}
  </div>
</div>

<div class="setting">
  <div class="setting-label">
    <h3>{{i18n 'admin.wizard.step.banner'}}</h3>
  </div>
  <div class="setting-value">
    {{input name="banner" value=step.banner placeholderKey="admin.wizard.step.banner_placeholder"}}
  </div>
</div>

<div class="setting full">
  <div class="setting-label">
    <h3>{{i18n 'admin.wizard.step.description'}}</h3>
  </div>
  <div class="setting-value">
    {{d-editor value=step.raw_description placeholder="admin.wizard.custom_text_placeholder"}}
  </div>
</div>

<div class="setting required-data full">
  <div class="setting-label">
    <h3>{{i18n 'admin.wizard.step.required_data.label'}}</h3>
  </div>
  <div class="setting-value">
    {{wizard-custom-inputs inputs=step.required_data
                           inputKey='admin.wizard.step.required_data.key'
                           valueContent=requiredContent
                           connectorContent=requiredConnectorContent}}
    {{#if step.required_data}}
      <div class="required-data-message">
        <div class="label">
          {{i18n 'admin.wizard.step.required_data.not_permitted_message'}}
        </div>
        {{input value=step.required_data_message}}
      </div>
    {{/if}}
  </div>
</div>

<div class="setting full">
  <div class="setting-label">
    <h3>{{i18n 'admin.wizard.step.permitted_params.label'}}</h3>
  </div>
  <div class="setting-value">
    {{wizard-custom-inputs inputs=step.permitted_params
                           inputKey='admin.wizard.step.permitted_params.key'
                           valuePlaceholder='admin.wizard.step.permitted_params.value'
                           connectorKey='admin.wizard.step.permitted_params.connector'}}
  </div>
</div>

{{wizard-links type="field" current=currentField items=step.fields}}
{{#if currentField}}
  {{wizard-custom-field field=currentField types=wizard.fieldTypes removeField="removeField"}}
{{/if}}

{{wizard-links type="action" current=currentAction items=step.actions}}
{{#if currentAction}}
  {{wizard-custom-action action=currentAction
                         wizard=wizard
                         removeAction="removeAction"
                         availableFields=availableFields}}
{{/if}}

<label>{{i18n 'admin.wizard.action.available_fields'}}</label>
