<div class="setting">
  <div class="setting-label">
    <h3>{{i18n "admin.wizard.id"}}</h3>
  </div>
  <div class="setting-value">
    {{input value=action.id placeholderKey='admin.wizard.id_placeholder' disabled=existingId}}
  </div>
</div>

<div class="setting">
  <div class="setting-label">
    <h3>{{i18n "admin.wizard.type"}}</h3>
  </div>
  <div class="setting-value">
    {{combo-box value=action.type content=types}}
  </div>
</div>

{{#if createTopic}}
  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.create_topic.category"}}</h3>
    </div>
    <div class="setting-value">
      {{category-select-box value=action.category_id}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.title"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.title content=wizardFields nameProperty="label" none='admin.wizard.action.none'}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.post"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.post content=wizardFields nameProperty="label" none='admin.wizard.action.none'}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.create_topic.featured_link"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.featured_link content=wizardFields none='admin.wizard.action.none'}}
    </div>
  </div>
{{/if}}

{{#if sendMessage}}
  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.title"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.title content=wizardFields none='admin.wizard.action.none'}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.post"}}</h3>
    </div>
    <div class="setting-value">
      {{combo-box value=action.post content=wizardFields none='admin.wizard.action.none'}}
    </div>
  </div>

  <div class="setting">
    <div class="setting-label">
      <h3>{{i18n "admin.wizard.action.send_message.recipient"}}</h3>
    </div>
    <div class="setting-value">
      {{user-selector single="true"
                      includeMentionableGroups="true"
                      usernames=action.username
                      allowedUsers="true"}}
    </div>
  </div>
{{/if}}

{{#if updateProfile}}
  <div class="setting full">
    {{#each profileUpdates as |pu|}}
      <span class='custom-input'>
        {{combo-box value=pu.wizard_field content=wizardFields none='admin.wizard.action.update_profile.wizard_field'}}
        {{combo-box value=pu.profile_field content=profileFields none='admin.wizard.action.update_profile.profile_field'}}
      </span>
      {{d-button action='removeProfileUpdate' actionParam=f icon='times'}}
    {{/each}}
    <div>{{d-button action='addProfileUpdate' label='admin.wizard.add' icon='plus'}}</div>
  </div>
{{/if}}
