{{#if hasOutput}}  
  <div class="mapper-connector mapper-block">
    {{combo-box
      value=input.type
      content=inputTypes
      onChange=(action (mut input.type))}}
  </div>
{{/if}}

{{#if hasPairs}}
  <div class="mapper-pairs mapper-block">
    {{#each input.pairs as |pair|}}
      {{wizard-mapper-pair
        pair=pair
        last=pair.last
        inputType=inputType
        keyPlaceholder=keyPlaceholder
        valuePlaceholder=valuePlaceholder
        options=options
        removePair=(action 'removePair')}}
    {{/each}}
    
    {{#if hasOutput}}
      <a {{action 'addPair'}} class="add-pair">
        {{d-icon 'plus'}}
      </a>
    {{/if}}
  </div>
{{/if}}

{{#if hasOutput}}
  {{#if hasPairs}}
    <div class="mapper-connector mapper-block">
      {{combo-box
        value=input.connector
        content=connectors
        onChange=(action (mut input.connector))}}
    </div>
  {{/if}}

  <div class="output mapper-block">
    {{wizard-mapper-selector
      selectorType='output'
      inputType=inputType
      value=input.output
      activeType=input.output_type
      customPlaceholder=outputPlaceholder
      options=options}}
  </div>
{{/if}}

<a class="remove-input" {{action remove input}}>
  {{d-icon 'times'}}
</a>
