<div class="type-selector">
  {{#each selectorTypes as |type|}}
    {{wizard-mapper-selector-type
      activeType=activeType
      type=type
      toggle=(action 'toggleType')}}
  {{/each}}
</div>

<div class="input">
  {{#if showText}}
    {{input
      type="text"
      value=value
      placeholder=(i18n placeholder)}}
  {{/if}}

  {{#if showComboBox}}
    {{combo-box
      value=value
      content=comboBoxContent
      onChange=(action (mut value))
      options=(hash
        none=placeholder
      )}}
  {{/if}}
  
  {{#if showMultiSelect}}
    {{multi-select
      content=multiSelectContent
      value=value
      onChange=(action (mut value))
      options=multiSelectOptions}}
  {{/if}}
  
  {{#if showList}}
    {{value-list values=value}}
  {{/if}}
  
  {{#if showTag}}
    {{tag-chooser
      tags=value
      filterable=true
      options=(hash
        none=placeholder
      )}}
  {{/if}}
  
  {{#if showUser}}
    {{user-selector 
      includeMessageableGroups='true'
      placeholderKey=placeholder
      usernames=value
      autocomplete="discourse"}}
  {{/if}}
</div>