<div class="subscription-header">
  <h4>{{i18n "admin.wizard.subscription.title"}}</h4>

  <a href={{subscriptionLink}} title={{i18n subscribedTitle}}>
    {{d-icon subscribedIcon}}
    {{i18n subscribedLabel}}
  </a>
</div>

<div class="subscription-settings">
  {{yield}}
</div>
