<div
  class="wizard-subscription-container
    {{if this.subscription.subscribed 'subscribed'}}"
>
  <div class="subscription-header">
    <h4>{{i18n "admin.wizard.subscription.title"}}</h4>

    <a href={{this.subscriptionLink}} title={{i18n this.subscribedTitle}}>
      {{d-icon this.subscribedIcon}}
      {{i18n this.subscribedLabel}}
    </a>
  </div>

  <div class="subscription-settings">
    {{yield}}
  </div>
</div>