<div class="supplier-authorize">
  {{#if authorized}}
    {{conditional-loading-spinner size="small" condition=unauthorizing}}
    <DButton
      class="deauthorize"
      @title={{i18n "admin.subscription_client.supplier.deauthorize"}}
      @disabled={{unauthorizing}}
      @action={{this.deauthorize}}
    >
      {{i18n "admin.wizard.subscription.deauthorize"}}
    </button>
  {{else}}
    <DButton
      @icon="id-card"
      class="btn-primary"
      @label="admin.wizard.subscription.authorize"
      @title="admin.wizard.subscription.authorize"
      @action={{this.authorize}}
    />
  {{/if}}
  <WizardSubscriptionBadge />
  <WizardSubscriptionCta />
</div>