{{#if loading}}
  <label>{{i18n 'realtime_validations.similar_topics.loading'}}</label>
{{else if showSimilarTopics}}
  <label>{{i18n 'realtime_validations.similar_topics.results'}}</label>
  {{wizard-similar-topics topics=similarTopics}}
{{else if showNoSimilarTopics}}
  <label>{{i18n 'realtime_validations.similar_topics.no_results'}}</label>
{{else if showDefault}}
  {{#if hasValidationCategories}}
    <label>{{{i18n 'realtime_validations.similar_topics.default_categories' catLinks=catLinks}}}</label>
  {{else}}
    <label>{{i18n 'realtime_validations.similar_topics.default'}}</label>
  {{/if}}
{{else}}
  <label></label>
{{/if}}