<label class={{currentStateClass}}>
  {{#if currentState}}
    {{#if insufficientCharactersCategories}}
      {{html-safe (wizard-i18n currentStateKey catLinks=catLinks)}}
    {{else}}
      {{wizard-i18n currentStateKey}}
    {{/if}}
  {{/if}}
</label>

{{#if showSimilarTopics}}
  {{wizard-similar-topics topics=similarTopics}}
{{/if}}
