<label for={{field.id}} class="field-label">
  {{{field.label}}}
</label>

{{#if field.image}}
  <div class="field-image"><img src="{{field.image}}"></div>
{{/if}}

{{#if field.description}}
  <div class='field-description'>{{cookedDescription}}</div>
{{/if}}

{{#if inputComponentName}}
  <div class='input-area'>
    {{component inputComponentName field=field step=step fieldClass=fieldClass wizard=wizard}}
  </div>
{{/if}}

{{#if field.errorDescription}}
  <div class='field-error-description'>{{{field.errorDescription}}}</div>
{{/if}}
