{{d-editor
  tabindex="4"
  value=composer.reply
  placeholder=replyPlaceholder
  previewUpdated=(action "previewUpdated")
  markdownOptions=markdownOptions
  extraButtons=(action "extraButtons")
  importQuote=(action "importQuote")
  showUploadModal=(action "showUploadModal")
  togglePreview=(action "togglePreview")
  validation=validation
  loading=composer.loading
  showLink=showLink
  wizardComposerEvents=true
  fieldId=field.id
  disabled=disableTextarea
  outletArgs=(hash composer=composer editorType="composer")}}

{{input
  class="wizard-composer-upload hidden-upload-field"
  disabled=isUploading
  type="file"
  accept=allowedFileTypes
  multiple=true}}

{{#if showHyperlinkBox}}
  {{wizard-composer-hyperlink
    addLink=(action 'addLink')
    hideBox=(action 'hideBox')}}
{{/if}}

{{#if isUploading}}
  <div id="file-uploading">
    {{loading-spinner size="small"}}<span>{{wizard-i18n "upload_selector.uploading"}} {{uploadProgress}}%</span>
    {{#if isCancellable}}
      <a href id="cancel-file-upload" {{action "cancelUpload"}}>{{d-icon "times"}}</a>
    {{/if}}
  </div>
{{/if}}
