<div class="wizard-composer-hyperlink-contents">
  <h3>{{i18n "composer.link_dialog_title"}}</h3>
  {{input
    class="composer-link-name"
    placeholder=(i18n 'composer.link_optional_text')
    type="text"
    value=linkName}}
  {{input
    class="composer-link-url"
    placeholder=(i18n 'composer.link_url_placeholder')
    type="text"
    value=linkUrl}}
  {{d-button
    label="wizard_composer.modal_ok"
    class="add-link btn-primary"
    click=(action 'addLink')}}
  {{d-button
    label="wizard_composer.modal_cancel"
    class="hide-hyperlink-box btn-danger"
    click=(action 'hideBox')}}
</div>
