<label class="wizard-btn wizard-btn-upload-file {{if uploading 'disabled'}}">
  {{#if uploading}}
    {{wizard-i18n "wizard.uploading"}}
  {{else}}
    {{wizard-i18n "wizard.upload"}}
    {{d-icon "upload"}}
  {{/if}}

  <input disabled={{uploading}} type="file" accept="{{field.file_types}}" style="visibility: hidden; position: absolute;" />
</label>

{{#if field.value}}
  {{#unless isImage}}
    {{field.value.original_filename}}
  {{else}}
    <img src={{field.value.url}}  class="wizard-image-preview">
  {{/unless}}
{{/if}}
