{{#if stepMessage}}
  <div class="step-message {{stepMessage.state}}">
    <div class="text">
      {{stepMessage.text}}
    </div>
    {{#if showReset}}
      <a class="reset-wizard" {{action "resetWizard"}}>
        {{wizard-i18n 'wizard.reset'}}
      </a>
    {{/if}}
  </div>
{{/if}}
{{#if step.permitted}}
  {{wizard-step step=step
                wizard=wizard
                goNext="goNext"
                goBack=(action "goBack")
                finished="finished"
                showMessage="showMessage"}}
{{/if}}
