{{#if icons}}
  <div class="icons">
    <span class="selection-indicator"></span>
    {{#each icons as |icon|}}
      {{d-icon icon translatedtitle=(dasherize title)}}
    {{/each}}
  </div>
{{/if}}

<div class="texts">
  <span class="name">{{html-safe label}}</span>
  {{#if item.subscription}}
    <span class="subscription-label">
      {{#if item.disabled}}
        {{i18n "admin.wizard.subscription.additional_label"}}
      {{else}}
        {{i18n "admin.wizard.subscription.label"}}
      {{/if}}
    </span>
  {{/if}}
</div>
